{
  "presets": ["env", "react", "stage-0", "flow"],
  "plugins": [["flow-runtime"], "transform-decorators-legacy", "transform-runtime"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
